.blogspagepara{
    font-size:1.3rem;
    text-align:center;
   
}
.width-class{
    width:auto;
}

.edit{
    font-size:2rem;
transition:all 0.5s;
}
.edit:hover{
    color: red;
    cursor:pointer;
}